* {
  margin: 0;
  padding: 0;
}

header,
footer {
  display: none; /* Скрывает элементы header и footer */
}

@font-face {
  font-family: "YS Text";
  src: url("fonts/YS Text-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

:root {
  --button-color: #fce000; /* Цвет кнопки */
  --button-text-color: #21201f; /* Цвет текста кнопки */
  --font-family: "YS Text", sans-serif; /* Шрифт */
  --container-width: 300px; /* Ширина контейнера */
  --container-height: 600px; /* Высота контейнера */
  --product-opacity: 0.5; /* Непрозрачность перетаскиваемого элемента */
  --checkout-button-padding: 16px 18px; /* Отступы кнопки */
  --checkout-button-border-radius: 16px; /* Радиус скругления кнопки */
  --cart-margin-bottom: 53px; /* Отступ снизу для корзины */
  --cart-min-height: 50px; /* Минимальная высота корзины */
  --cart-min-width: 130px; /* Минимальная ширина корзины */
  --cart-max-width: 130px; /* Максимальная ширина корзины */
}

body {
  min-height: 100dvh;
  font-family: var(--font-family); /* Запасной шрифт */
}

.app-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--container-width);
  height: var(--container-height);
}

.product {
  opacity: 0;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.product.dragging {
  opacity: var(
    --product-opacity
  ); /* Уменьшенная непрозрачность для перетаскиваемого элемента */
  transform: scale(1.2); /* Немного увеличиваем размер при перетаскивании */
}

.checkout-button {
  animation: fadeIn 0.3s ease-in;
  position: absolute; /* Оставляем абсолютное позиционирование */
  bottom: 20px; /* Расположение снизу */
  left: 50%; /* Перемещаем в 50% ширины родителя */
  transform: translate(-50%, 0); /* Центрируем кнопку */
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  padding: var(--checkout-button-padding);
  color: var(--button-text-color);
  border-radius: var(--checkout-button-border-radius);
  line-height: 17px;
  letter-spacing: -0.5%;
  font-size: 16px;
  z-index: 5; /* Убедитесь, что кнопка находится поверх других элементов */
  min-width: 130px; /* Задайте минимальную ширину для кнопки */
  white-space: nowrap; /* Запрет на перенос текста */
  font-family: var(--font-family);
}

/* Эффект наведения */
.checkout-button:hover {
  background-color: #f0d107; /* Цвет фона при наведении */
  transform: translate(-50%, 0) scale(1.01); /* Увеличение при наведении */
  animation: none; /* Остановка анимации при наведении */
}

/* Эффект при нажатии */
.checkout-button:active {
  background-color: #d0b506; /* Цвет фона при нажатии */
  transform: translate(-50%, 0) scale(0.95); /* Уменьшение при нажатии */
}

.blinking {
  animation: blink-animation 2.5s ease-in-out infinite;
}

@keyframes blink-animation {
  0%,
  100% {
    opacity: 1; /* Полная видимость */
  }
  50% {
    opacity: 0; /* Полная прозрачность */
  }
}

.fade-in {
  animation: fadeIn 2.5s ease forwards; /* Анимация появления */
}

.fade-out {
  animation: fadeOut 2.5s ease forwards; /* Анимация исчезновения */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.display {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 28px auto 0; /* Убрал лишние нули */
}

.shelf {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}

.row {
  display: flex;
  align-items: flex-end;
}

.first-row {
  justify-content: center;
  gap: 5px;
  margin-bottom: 43px;
}

.first-row img {
  margin-left: 0; /* Убираем левый отступ для первого элемента */
}

.second-row {
  display: flex;
  justify-content: center;
  margin-left: -5px;
}

.second-row img:nth-child(2) {
  margin-bottom: -10px;
}

.third-row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-left: 15px;
}

.cart {
  display: flex;
  margin: auto;
  margin-bottom: var(--cart-margin-bottom);
  min-height: var(--cart-min-height);
  min-width: var(--cart-min-width);
  max-width: var(--cart-max-width);
  align-items: flex-end; /* Выравниваем элементы по верхнему краю */
  padding: 10px; /* Добавлено для лучшего отображения */
}

.cart-img {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 12px;
  z-index: 2;
}

.cart-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px;
}

.product.in-cart {
  opacity: 0; /* Скрываем элемент */
  pointer-events: none; /* Запрещаем взаимодействие с элементом */
}

/* Стили для изображений в первой строке */
.first-row img:nth-child(1) {
  margin-left: 0; /* Убираем левый отступ для первого элемента */
}

.first-row img:nth-child(2) {
  margin-left: 0; /* Устанавливаем верхний отступ для второго элемента */
}

.first-row img:nth-child(3) {
  margin-right: 5px;
  margin-left: -5px; /* Устанавливаем правый отступ для третьего элемента */
}

.first-row img:nth-child(4) {
  margin-bottom: 0; /* Устанавливаем нижний отступ для четвертого элемента */
}
