@font-face {
  font-family: "YS Text";
  src: url("/fonts/YS\ Text-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: var(--font-family);
}
